<!-- Modal -->
<div class="modal fade" id="size-exceed-modal" tabindex="-1" role="dialog" aria-labelledby="size-exceed-modal"
    aria-hidden="true" data-backdrop="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-center">
            <div class="modal-body">
                <img src="img/icon_mal.svg" class="image-fluid" width="90rem" />
                <h2>Size exceeded</h2>
                <p class="text-muted">Did you know that a
                    <strong class="text-dark">hiring managers take on avarage 6 seconds to read resumes</strong>?
                    <br>
                    <br>
                    <p class="text-muted">
                        By keeping your resume short and focused on one page you are giving them fewer reasons to
                        eliminate you
                        from contention.</p>
                </p>
                <div class="text-center m-auto">
                    <button class="btn btn-danger closer">ACCEPT</button>
                </div>
            </div>
        </div>
    </div>
</div>