<!DOCTYPE html>
<html>

<head>
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Workruit - Instant Resume</title>
    <meta name="description"
        content="Free resume builder online. No sign-up required. Create your CV in real time and download a print-ready PDF.">
    <meta property="og:type" content="website" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16.png">
    <meta data-content="msapplication-TileColor" content="#da532c">
    <meta data-content="theme-color" content="#ffffff">

    <script>
        var sessionId = localStorage.getItem('sessionId');
        if (!sessionId) {
            window.location.href = "../index.html";
        }
    </script>
    <!--<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <!-- <link href="plugins/datedropper/datedropper.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="css/bootstrap-datepicker3.standalone.css" />
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/nice-select.min.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/template.css" />
</head>

<body>
    <!-- Error Messages -->
    <div id="newErrorMessageID" class="alert alert-danger">
        <b class="message-text"></b>
        <a href='javascript:void(0)' class="close" aria-label="close" title="close">
            <img src="../images/app/icons/close.png" width="10" />
        </a>
    </div>
    <div id="newSuccessMessageID" class="alert alert-success">
        <b class="message-text"></b>
        <a href="javascript:void(0)" class="close" aria-label="close" title="close">
            <img src="../images/app/icons/close.png" width="10" />
        </a>
    </div>
    <!-- /Error Messages -->
    <div class="resume-preview d-none"></div>
    <div class="container">
        <header class="m-auto row justify-content-center">
            <nav class="navbar navbar-expand-lg navbar-light my-4 editorNav" id="resume-header">
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav align-items-center">
                        <li class="nav-item" id="previousPage">
                            <a class="nav-link" href="../../home/index.html"><img src="img/back-arrow-icon.png"
                                    height="24" /></a>
                        </li>
                        <li class="nav-item dropdown theme-picker">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="theme-picker-button selected-color theme-black"
                                    data-color="theme-black"></span>
                            </a>
                            <div class="dropdown-menu theme-color-picker" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#"> <span
                                        class="theme-picker-button clr_btn theme-blue color" data-color='theme-blue'
                                        data-oldcolor='theme-green'></span></a>
                                <a class="dropdown-item" href="#"> <span
                                        class="theme-picker-button clr_btn theme-green color" data-color='theme-green'
                                        data-oldcolor='theme-green'></span></a>
                                <a class="dropdown-item active" href="#"> <span
                                        class="theme-picker-button clr_btn theme-black color" data-color='theme-black'
                                        data-oldcolor='theme-green'></span></a>
                            </div>
                        </li>
                        <li class="nav-item theme-picker">
                            <a class="nav-link dropdown-toggle font selected-font" href="#" id="navbarDropdownMenuLink"
                                role="button" data-toggle="dropdown" data-font="" aria-haspopup="true"
                                aria-expanded="false">
                                Merriweather </a>
                            <div class="dropdown-menu font-items" aria-labelledby="navbarDropdownMenuLink">
                            </div>
                        </li>
                        <li class="nav-item theme-picker-2 theme-picker">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="img/settings-icon.png" height="24" />
                            </a>
                            <div class="dropdown-menu actions theme-black" data-oldcolor="theme-black"
                                aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Resume settings</a>
                                <div class="dropdown-divider"></div>

                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <nav class="navbar navbar-expand-lg navbar-light my-4 ml-4 previewNav" id="resume-header">
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav align-items-center">
                        <li class="nav-item" id="previewResume">
                            <a class="nav-link" href="#"><img src="img/view-icon.png" height="24" /></a>
                        </li>
                        <li class="nav-item d-none" id="previewBack">
                            <a class="nav-link" href="#"><img src="img/back-arrow-icon.png" height="24" /></a>
                        </li>
                        <li class="nav-item" id="saveResume">
                            <a class="nav-link" href="#"><img src="img/save-icon.png" height="24" /></a>
                        </li>
                        <li class="nav-item" id="downloadResume">
                            <a class="nav-link" href="#"><img src="img/download-icon.png" height="24" /></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="container m-auto resume-container theme-black" data-oldcolor="theme-black">
            <section class="mb-3">
                <page size="a4" id="resume-body">
                    <div class="row">
                        <aside class="col-3 text-break">
                            <div>
                                <div>
                                    <label for="user-picture" class="res_picture">
                                        <img src="https://via.placeholder.com/140" alt="..." class="rounded-circle"
                                            id="user_pic">
                                        <input type="file" data-content="picture"
                                            accept="image/x-png,image/gif,image/jpeg" id="user-picture" class="d-none">

                                </div>
                                <div class="professional_info">
                                    <p class="text-uppercase  px-1 section_title title_info mb-1 pb-0">Personal Info</p>
                                    <div class="user_info">
                                        <p class="title_info  px-1 section_title theme-text color m-0 mt-3 pb-0">
                                            Designation
                                        </p>
                                        <p class="info title_info  px-1 designation_info mb-0" contenteditable="true"
                                            placeholder="Designation" data-content="userJobTitle"
                                            onkeypress="return (this.innerText.length <= 48)"></p>
                                    </div>
                                    <div class="user_info">
                                        <p class="title_info section_title theme-text  px-1 color m-0 mt-3 pb-0">Years
                                            of
                                            experience
                                        </p>
                                        <p class="info title_info  px-1 years_of_experience mb-0" contenteditable="true"
                                            onkeypress="return (this.innerText.length <= 10)"
                                            placeholder="Years of experience" data-content="totalexperience"></p>
                                    </div>
                                    <div class="user_info">
                                        <p class="title_info section_title theme-text  px-1 color m-0 pb-0 mt-3">
                                            Location
                                        </p>
                                        <p class="info title_info location mb-0" placeholder="Location"
                                            contenteditable="true" onkeypress="return (this.innerText.length <= 48)"
                                            data-content="location"></p>
                                    </div>
                                    <div class="user_info">
                                        <p class="title_info section_title  px-1 theme-text color m-0 pb-0 mt-3">
                                            Birthday
                                        </p>
                                        <input class="info title_info location  px-1 b-datepicker mb-0 border-0"
                                            data-content="dob" type="text" placeholder="Birthday">
                                    </div>
                                    <div class="user_info d-inline-block">
                                        <p class="title_info section_title theme-text color m-0 mt-3 px-1 pb-0">Gender
                                        </p>
                                        <!-- <p class="info title_info gender mb-0" contenteditable="true"
                                            placeholder="Gender" data-content="gender"></p> -->
                                        <select class="gender font-10 title_info px-1" id="gender"
                                            data-content="gender">
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                            <option value="others">others</option>
                                        </select>
                                    </div>
                                    <div class="user_info">
                                        <p class="title_info section_title theme-text color px-1 mt-3 m-0">Languages
                                        </p>
                                        <ul class="list-unstyled">
                                            <li class="d-flex align-items-center py-2 px-1 border-dashed lang_details"
                                                id="lang_1">
                                                <div class="rating-container">
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item rating-circle m-0"
                                                            data-langpercentage=''></li>
                                                        <li class="list-inline-item rating-circle m-0"
                                                            data-langpercentage=''></li>
                                                        <li class="list-inline-item rating-circle m-0"
                                                            data-langpercentage=''></li>
                                                        <li class="list-inline-item rating-circle m-0"
                                                            data-langpercentage=''></li>
                                                    </ul>
                                                </div>
                                                <p contenteditable="true" class="mb-0 ml-1 lang-text"
                                                    data-content="languageName"
                                                    onkeypress="return (this.innerText.length <= 10)"
                                                    placeholder="Language"></p>
                                                <ul class="append-section-actions list-inline">
                                                    <li
                                                        class="list-inline-item cursor-pointer remove_icon small-size color mr-1 remove_lang">
                                                        <!-- <i class="fas fa-minus font-12pt color"></i> -->
                                                    </li>
                                                    <li
                                                        class="list-inline-item cursor-pointer add_icon small-size color m-0 add_lang">
                                                        <!-- <i class="fas fa-plus font-12pt color"></i> -->
                                                    </li>
                                                </ul>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="social_info">
                                    <p class="text-uppercase section_title title_info mb-1 mt-3">Social</p>
                                    <ul class="list-unstyled m-0">
                                        <li class="d-flex justify-content-start  px-1 align-items-center mb-3"><i
                                                class="fas fa-envelope color font-14pt"></i>
                                            <p class="m-0 ml-2" data-content="email"></p>
                                        </li>
                                        <li class="d-flex justify-content-start  px-1 align-items-center mb-3"><i
                                                class="fas fa-phone-square-alt color font-14pt"></i>
                                            <p contenteditable="true" placeholder="Phone" class="m-0 ml-1"
                                                onkeypress="return (this.innerText.length <= 14)" data-content="phone">
                                            </p>
                                        </li>
                                        <li class="d-flex justify-content-start  px-1 align-items-center mb-3 linkedin">
                                            <i class="fab fa-linkedin color font-14pt"></i>
                                            <p contenteditable="true" placeholder="LinkedIn" class="m-0 ml-1"
                                                onkeypress="return (this.innerText.length <= 40)"
                                                data-content="linkedin"></p>
                                        </li>
                                        <li class="d-flex justify-content-start  px-1 align-items-center mb-3 github"><i
                                                class="fab fa-github color font-14pt"></i>
                                            <p contenteditable="true" placeholder="Github" class="m-0 ml-1"
                                                onkeypress="return (this.innerText.length <= 40)" data-content="github">
                                            </p>
                                        </li>
                                        <li class="d-flex justify-content-start  px-1 align-items-center mb-3 twitter">
                                            <i class="fab fa-twitter-square color font-14pt"></i>
                                            <p contenteditable="true" placeholder="Twitter" class="m-0 ml-1"
                                                onkeypress="return (this.innerText.length <= 40)"
                                                data-content="twitter"></p>
                                        </li>
                                        <li class="d-flex justify-content-start  px-1 align-items-center mb-3 website">
                                            <i class="fas fa-globe-europe color font-14pt"></i>
                                            <p contenteditable="true" placeholder="Website" class="m-0 ml-1"
                                                onkeypress="return (this.innerText.length <= 40)"
                                                data-content="website"></p>
                                        </li>
                                        <li class="d-flex justify-content-start  px-1 align-items-center mb-3 blog"><i
                                                class="fab fa-blogger color font-14pt"></i>
                                            <p contenteditable="true" placeholder="Blog" class="m-0 ml-1"
                                                onkeypress="return (this.innerText.length <= 40)" data-content="blog">
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                        <div class="col-9">
                            <div class="row">
                                <div class="col-8 pl-0 px-1">
                                    <div class="personal_info">
                                        <h1 class="user_title font-26pt">
                                            <span class="user_firstname color" contenteditable="true"
                                                placeholder="Firstname" data-content="firstname"
                                                onkeypress="return (this.innerText.length <= 18)"></span>
                                            <span class="user_lastname color" contenteditable="true"
                                                placeholder="Lastname" data-content="lastname"
                                                onkeypress="return (this.innerText.length <= 18)"></span>
                                        </h1>
                                        <!-- <h2 class="support_title text-uppercase font-12pt" contenteditable="true"
                                            placeholder="Job Function" id="allDegrees" data-content="jobfunctions"
                                            onkeypress="return (this.innerText.length <= 27)"></h2> -->
                                        <input type="text" id="allJobFunctions"
                                            class="p-0 pl-1 support_title border-0 w-100 text-uppercase font-12pt mb-2"
                                            placeholder="Job Function" data-content="jobfunctions" data-item-id="">
                                        <h4 class="about_me font-10pt pl-1" id="aboutme" placeholder="About me"
                                            onkeypress="return (this.innerText.length <= 149)"
                                            data-content="coverLetter" contenteditable="true"></h4>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="clg_picture"> <img src="https://via.placeholder.com/250x125" alt="..."
                                            class="img-fluid"></div>
                                </div>
                            </div>
                            <div class="row mt-3 flex-column mb-1">
                                <h4 class="section_title text-uppercase font-10pt px-2">Work experience</h4>
                                <div class="border-dashed professional-experience px-1" id="proExp_1">
                                    <div class="d-flex justify-content-between w-100">
                                        <p class="font-10pt mb-2 color">
                                            <span class="exp-role" data-content="exp_jobTitle" contenteditable="true"
                                                placeholder="Role"
                                                onkeypress="return (this.innerText.length <= 39)"></span></p>
                                        <div>
                                            <p class="font-10pt mb-2 theme-text-dark saperator">
                                                <input
                                                    class="info title_info font-10pt location month-picker w-small mb-0 border-0 text-right"
                                                    data-content="exp_startDate" type="text" placeholder="Start Date">
                                                <input
                                                    class="info title_info font-10pt location month-picker w-small mb-0 border-0 text-right"
                                                    data-content="exp_endDate" type="text" 
                                                    placeholder="End Date"></p>
                                        </div>
                                    </div>
                                    <div>
                                        <p class="font-10pt mb-2 theme-text-dark">
                                            <span class="exp-company" data-content="exp_company" contenteditable="true"
                                                placeholder="Company"
                                                onkeypress="return (this.innerText.length <= 40)"></span>, <span
                                                class="exp-role" contenteditable="true" data-content="exp_location"
                                                placeholder="Location"
                                                onkeypress="return (this.innerText.length <= 40)"></span></p>
                                    </div>
                                    <div>
                                        <p class="font-10pt mb-2" contenteditable="true" data-content="exp_description"
                                            placeholder="Enter Details About Your Work Responsibilities Here."
                                            onkeypress="return (this.innerText.length <= 299)"></p>
                                    </div>
                                    <ul class="append-section-actions list-inline bottom-50">
                                        <li
                                            class="list-inline-item remove_exp remove_icon color cursor-pointer mr-1 d-none">
                                            <!-- <i class="fas fa-minus font-12pt color"></i> -->
                                        </li>
                                        <li class="list-inline-item add_exp add_icon color cursor-pointer m-0">
                                            <!-- <i class="fas fa-plus font-12pt color"></i> -->
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row flex-column mb-1">
                                <h4 class="section_title text-uppercase font-10pt px-2">Education</h4>
                                <div class="border-dashed education-details px-1" id="education_1">
                                    <div class="d-flex justify-content-between w-100">
                                        <div>
                                            <p class="font-10pt mb-0 color"><span class="exp-role"
                                                    contenteditable="true" data-content="fieldOfStudy"
                                                    placeholder="Field Of Study"
                                                    onkeypress="return (this.innerText.length <= 40)"></span>
                                                <!-- <span class="exp-company" data-content="degree_title"
                                                contenteditable="true" placeholder="Degree"
                                                onkeypress="return (this.innerText.length <= 29)"></span> -->
                                            </p>
                                        </div>
                                        <div>
                                            <p class="font-10pt mb-0 theme-text-dark saperator">
                                                <input
                                                    class="info title_info font-10pt location text-right month-picker w-small mb-0 border-0"
                                                    type="text" data-content="edu_startDate" placeholder="Start Date">
                                                <input
                                                    class="info title_info font-10pt location text-right month-picker w-small mb-0 border-0"
                                                    type="text" data-content="edu_endDate" placeholder="End Date">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="pl-1p8x">
                                        <input type="text"
                                            class="p-0 aligned_input support_title border-0 w-100 font-10pt degrees mb-2 w-100"
                                            onkeypress="return (this.innerText.length <= 50)" placeholder="Degree"
                                            data-content="degree_title">
                                    </div>
                                    <div>
                                        <p class="font-10pt mb-2 theme-text color"><span class="exp-role"
                                                data-content="edu_institution" contenteditable="true"
                                                placeholder="School"
                                                onkeypress="return (this.innerText.length <= 40)"></span>
                                            <span class="exp-role" data-content="edu_location" contenteditable="true"
                                                placeholder="Location"
                                                onkeypress="return (this.innerText.length <= 40)"></span></p>
                                    </div>
                                    <div>
                                        <p class="font-10pt mb-2" contenteditable="true" data-content="edu_description"
                                            placeholder="Enter Details About Your Education Here"
                                            onkeypress="return (this.innerText.length <= 299)"></p>
                                    </div>
                                    <ul class="append-section-actions list-inline bottom-50">
                                        <li
                                            class="list-inline-item remove_edu remove_icon color cursor-pointer d-none mr-1">
                                            <!-- <i class="fas fa-minus font-12pt color"></i> -->
                                        </li>
                                        <li class="list-inline-item add_edu add_icon color cursor-pointer m-0">
                                            <!-- <i class="fas fa-plus font-12pt color"></i> -->
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row flex-column  mb-1" id="academic-section">
                                <h4 class="section_title text-uppercase font-10pt px-2">Academic Projects
                                </h4>
                                <div class="border-dashed academic-project px-1" id="academic_projects_1">
                                    <div class="d-flex justify-content-between w-100">
                                        <p class="font-10pt mb-2 theme-text color"><span class="exp-role"
                                                contenteditable="true" data-content="acd_projectTitle"
                                                placeholder="Project Title"
                                                onkeypress="return (this.innerText.length <= 30)"></span>,
                                            <span class="exp-company" data-content="acd_role" contenteditable="true"
                                                placeholder="Role"
                                                onkeypress="return (this.innerText.length <= 30)"></span></p>
                                        <div>
                                            <p class="font-10pt mb-2 theme-text-dark saperator">
                                                <input
                                                    class="info title_info text-right font-10pt location month-picker w-small mb-0 border-0"
                                                    type="text" data-content="acd_startDate" placeholder="Start Date">
                                                <input
                                                    class="info title_info font-10pt text-right location month-picker w-small mb-0 border-0"
                                                    type="text" data-content="acd_endDate" placeholder="End Date">
                                            </p>
                                        </div>
                                    </div>
                                    <div>
                                        <p class="font-10pt mb-2 theme-text-dark">
                                            <span class="exp-company" data-content="acd_institution"
                                                contenteditable="true" placeholder="University"
                                                onkeypress="return (this.innerText.length <= 40)"></span>, <span
                                                class="exp-role" contenteditable="true" data-content="acd_location"
                                                placeholder="Location"
                                                onkeypress="return (this.innerText.length <= 40)"></span></p>
                                    </div>
                                    <div>
                                        <p class="font-10pt mb-4" contenteditable="true" data-content="acd_description"
                                            placeholder="Enter Details About Your Project Here"
                                            onkeypress="return (this.innerText.length <= 299)"></p>
                                    </div>
                                    <ul class="append-section-actions list-inline bottom-50">
                                        <li
                                            class="list-inline-item  remove_acad remove_icon color cursor-pointer mr-1 d-none">
                                            <!-- <i class="fas fa-minus font-12pt color"></i> -->
                                        </li>
                                        <li class="list-inline-item add_acad add_icon color cursor-pointer m-0">
                                            <!-- <i class="fas fa-plus font-12pt color"></i> -->
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row flex-column  mb-1" id="skills-section">
                                <h4 class="section_title text-uppercase font-10pt px-2">Skills</h4>
                                <div class="skills-section">
                                    <ul class="list-unstyled w-100 skills-list mb-0">
                                        <li class=" border-dashed m-0 mb-3  pl-7x skills-item" id="skills_item_1">
                                            <div class="skill-box">
                                                <div class="skills-bar color-blue at-75" data-border="75"><span
                                                        data-skill="75%" class="skill-value">75%</span></div>
                                                <input type="text"
                                                    class=" aligned_input resume-input ml-2 skill-input-value skills w-14rem border-0 font-10pt mb-2"
                                                    placeholder="Skill name" data-content="skillText">
                                            </div>
                                            <ul class="append-section-actions list-inline bottom-50">
                                                <li
                                                    class="list-inline-item remove_skills remove_icon color cursor-pointer mr-1">
                                                    <!-- <i class="fas fa-minus font-12pt color"></i> -->
                                                </li>
                                                <li
                                                    class="list-inline-item add_skills add_icon color cursor-pointer m-0">
                                                    <!-- <i class="fas fa-plus font-12pt color"></i> -->
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row flex-column  mb-1" id="achievements-section">
                                <h4 class="section_title px-2 text-uppercase font-10pt ">Achievements</h4>
                                <p class="font-10pt mb-2 px-2" contenteditable="true" placeholder="Description"
                                    data-content="achivements" onkeypress="return (this.innerText.length <= 299)"></p>
                            </div>
                            <div class="row  flex-column" id="certifications-section">
                                <h4 class="section_title px-2 text-uppercase font-10pt ">Certifications</h4>
                                <p class="font-10pt mb-2 px-2" contenteditable="true" placeholder="Description"
                                    data-content="certifications" onkeypress="return (this.innerText.length <= 299)"></p>
                            </div>
                        </div>
                        <div class="size-exceed-error"></div>
                    </div>
                </page>
            </section>
        </div>
        <div w3-include-html="../create/templates/size-exceed-modal.html"></div>
    </div>
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.js"></script>
    <script src="js/jquery.nice-select.js"></script>
    <script type="text/javascript" src="js/jquery.loadTemplate.js"></script>
    <script type="text/javascript" src="js/resume-plugin.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/axios.min.js"></script>
    <script type="text/javascript" src="js/w3-includes.js"></script>
    <script type="text/javascript" src="js/bootstrap-datepicker.min.js"> </script>
    <script type="text/javascript" src="js/moment.min.js"> </script>
    
    <script src="js/html2canvas.js"></script>
    <script src="js/jspdf.debug.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvg/dist/browser/canvg.min.js"></script>
    <script src="js/resume-template.js"></script>
    <script>
        includeHTML();
        // $('body').load('../create/templates/size-exceed-modal.html');
    </script>
</body>

</html>