<!DOCTYPE html>
<html lang="en">

<head>
  <!--header tag of resume =-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#ffffff">
  <title>Workruit - Instant Resume</title>

  <link rel='shortcut icon' type='image/x-icon' href='../../favicon.png' />
  <link rel='stylesheet' type='text/css' href='../../assets/vendors/css/font-awesome.min.css' />
  <link rel='stylesheet' type='text/css' href='../../assets/vendors/css/fontawesome.min.css' />
  <link rel="stylesheet" type="text/css" href="../../assets/vendors/css/bootstrap-reboot.css" />
  <link rel="stylesheet" type="text/css" href="../../assets/vendors/css/bootstrap-grid.css" />
  <link rel="stylesheet" type="text/css" href="../../assets/vendors/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="../../assets/vendors/css/aos.css" />
  <link rel="stylesheet" type="text/css" href="../../assets/vendors/css/main.css" />
  <link rel="stylesheet" type="text/css" href="../../assets/css/custom.css" />

  <!--<style>
.first-quto{
  padding-top: 50%;
}
</style>-->
  <!-- Hotjar Tracking Code for www.workruit.com -->
  <script>
    (function (h, o, t, j, a, r) {
      h.hj = h.hj || function () {
        (h.hj.q = h.hj.q || []).push(arguments)
      };
      h._hjSettings = {
        hjid: 737967,
        hjsv: 6
      };
      a = o.getElementsByTagName('head')[0];
      r = o.createElement('script');
      r.async = 1;
      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
      a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94088165-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-94088165-1');
  </script>
</head>

<body>
  <header class="w-100">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-5">
        </div>
        <div class="col-md-2 text-center">
          <a href="#">
            <img src="../../assets/images/workruit-resume-logo-color.svg" class="img-responsive resume-logo-big"
              alt="workruit-instent-resume">
          </a>
        </div>
        <div class="col-md-5">
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div id="signupbox" style="margin-top: 110px; margin-bottom: 50px;" class="mainbox about_company">
      <div class="card">
        <div class="card-header cst_card-title">
          <h5 class="card-title cst_card-title my-2 text-white">Reset Password</h5>
        </div>
        <div class="card-body">
          <form id="signupform" class="form-horizontal" role="form">
            <div class="form-group">
              <label class="form-text">New Password</label>
              <input type="password" class="form-control" name="newPassword"
                data-ng-model="resetPasswordNew.newPassword" placeholder="New Password" required="required"
                required-error-message="New Password is required.">
            </div>
            <div class="form-group" class="col-md-9 control-label">
              <label class="form-text">Confirm New Password </label>
              <input type="password" class="form-control" name="reenterNewPassword"
                data-ng-model="resetPasswordNew.reenterNewPassword" placeholder="Confirm Password" required="required"
                required-error-message="Confirm Password is required.">
            </div>
            <h5 class="text-center formsubhead" style="margin-bottom: 20px; margin-top: 20px;">
              <button class="btn btn-primary create_job" data-ng-click="resetPasswordNewServCall()"
                style="padding: 8px 22px; letter-spacing: 0.4px;">RESET PASSWORD</button>

            </h5>
          </form>
        </div>
      </div>


    </div>
  </div>
  <script type="text/javascript" src="../../assets/vendors/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../../assets/js/account-scripts.js"></script>
  <script>
    $(window).ready(function () {
      var pwdParameter = window.location.search.substr(1);
      console.log(pwdParameter);
      var windowLocation = window.location;
      pwdParameter ? true : window.location = window.origin + '/404.html'
      console.log(pwdParameter ? true : false);
      // var url = 
      $.get("ajax/test.html", function (data) {
        $(".result").html(data);
        alert("Load was performed.");
      });
    });
  </script>
</body>

</html>